body {
  margin: 0;
  padding: 0;
  height: 1000vh; 
  overflow-x: hidden;
}

.container {
  display: flex; /* Utilise le flexbox pour disposer la carte et les informations côte à côte */
  position: fixed; /* Fixe le conteneur à l'écran */
  top: 20px; /* Positionne le conteneur à 20px du haut */
  left: 20px; /* Positionne le conteneur à 20px de gauche */
  z-index: 1; /* Assure que le conteneur est au-dessus d'autres éléments */
}

#map {
  height: 570px; /* La carte occupe toute la hauteur définie */
  width: 800px; /* La carte occupe toute la largeur définie */
  border-radius: 20px; /* Ajoute un rayon de 20px pour arrondir les coins */
  border: 2px solid rgb(20, 20, 20); /* Ajoute une bordure noire de 3px */
}

.info {
  margin-left: 20px; /* Espace entre la carte et le texte */
  max-width: 450px; /* Limite la largeur du texte */
}

h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

p {
  font-size: 16px;
  line-height: 1.5;
}

#redirect-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 10px 20px;
  background-color: #272727;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  z-index: 10;
}

#redirect-button:hover {
  background-color: #000000;
}
